{% extends 'index.html' %}

{%block content%}
 
 <div id="box">



  {% for i in data %}
    <div class="cont" id="cont">

        <h1 class="headword"> {{i.key}}</h1>

        <p class="type"> {{i.type}}</p>

        <p class="mean">{{i.mean}}</p>

        <p class="sunonym">synonyms: {{i.synonym}}</p>

        <p class="antonym">Antonyms: {{i.antonym}}</p>
        <p> Example: </p>
        <p class="example"> {{i.example }}</p>
       
    </div>

    {% endfor %}  
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
      let keys = document.getElementById('headword')
      let cont = document.getElementById('cont')
      let box = document.getElementById('box')
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
  
      }
  
  
  
      $('#search').click(function () {
  
  
  
        my_data = { key: keys.value };
        $.ajax({
  
          url: "{% url 'save' %}",
          method: "POST",
          data: my_data,
          success: function (data) {
         
            console.log(data.status)
            box.innerHTML = `<div class="cont" id="cont">
              <h1 class="headword"> ${data.status.key}</h1>
              <p class="type">  ${data.status.type}</p>
              <p class="mean"> ${data.status.mean}</p>
              <p class="sunonym">synonyms: ${data.status.synonym}</p>
              <p class="antonym">Antonyms:  ${data.status.antonym}</p
              <p> Example: </p
              <p class="example">  ${data.status.example}</p>
              </div>`
          }
        })
  
      })
  
  
  
    </script>

 
    {% endblock %}